@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Email @ViewData["email"]</p>

<address>
    <strong>More informations: </strong> <a href="www.google.com">google</a>
</address>
